/*------------------------------------------------GLOBAL----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*-----LEGENDE DE COULEUR-----*/

/*black : #0d0d0ef1;*/
/*Gold : #936C35;
/*White :  rgb(233, 231, 231);*/
/*Grey : rgba(175, 173, 173, 0.863);*/

* {
    font-family:'Open Sans', Verdana, Tahoma, sans-serif;
}

body { 
    background-color: #0d0d0ef1;
    background-size: 100%;
    position: relative;
}

h3 {
    font-family: 'Merriweather', 'Open Sans', Verdana;
    background: rgb(233, 231, 231);
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    text-decoration: none;
    color: rgb(29, 28, 28);
    box-shadow: inset -4px -4px 0px 0px rgb(179, 176, 176);  
    border-radius: 5px;
}

h2 {
    color: #936C35;
}

h4 {
    text-align: center;
    font-size: 2.0em;
    margin-top: -30px;
}

a {
    text-decoration: none;
    color: #936C35;
}

label {
    color: rgb(255, 250, 250);
}

.paragraphe {
    color: rgb(255, 250, 250);
}

.signature {
    color: #936C35;
    text-align: right;
}

.separator {
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.863);
    left: calc(50% - 190px);
    display: none;
}

/*---------------------------------------------HEADER------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
.header_content h1 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: #ffff;
    text-transform: uppercase;
}

.header_content h1 a {
    color: #936C35;
}

.header_content h1::before
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(255, 255, 255, 0.863);
	left: calc(50% - 190px);
}
.header_content h1::after
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(234, 237, 241, 0.863);
    left: calc(50% - 190px);
    top: 10px;
}

.header_content h2 {
    margin-left: calc(50% + 120px);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: white;
}

/*---------------------------------------------MENU---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#menu {
    display: flex;
    justify-content: flex-end;
}

#tabs {
    list-style-type: none;
}

#tabs li {
    margin-right: 12px;
    display: inline-block;
}

#tabs a {
    font-family: 'Merriweather', 'Open Sans', Verdana;
    color: white;
    padding: 0 10px 2px 10px;
    font-size: 1em;
    text-decoration: none;
}

#tabs a:hover {
    color: rgb(167, 163, 161);
}

/*---------------------------------------------ACCUEIL------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#alaska {
    background-size: 100%;
    width: 100%;
    height: 88%;
}

/*-------------------------------SECTION--------------------------------*/

/*----------SECTION ONE-----------*/
#section_one {
    margin: 100px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;   
}

#presentation {
    width: 60%;
    margin: 60px 0 0 30px;
    color: rgb(255, 254, 254);
}

#dream_img {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin-right: 15px;
}

/*------------SECTION TWO-----------*/

#section_two {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;   
}

#resum {
    width: 60%;
    margin: 80px 30px 0 0;
    color: rgb(255, 254, 254);
}

#moon_img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin: 150px 0 30px 15px;
}

/*--------------------------------------------CHAPITRES-----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#title_articles {
    color: rgb(255, 254, 254);
}
.news {
    width: 70%;
    text-align: justify;
    margin: auto;
    background-color: rgb(255, 254, 254);
    border: 2px none white;
    border-radius: 5px;
}

.news h3 {
    color: rgb(87, 86, 85);
}

#content_news {
    padding: 0 10px 0 10px;
}

#chapters_part {
    background-color: white;
    padding: 0 10px 0 10px;
}

.btn_valid {
    margin: 15px 0 7px 7px;
    background: rgb(202, 145, 64);
    text-align: center;
    position: relative;
    display: inline-flex;
    font-size: 0.8em;
    padding: 12px;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px rgb(143, 102, 44);
    border-radius: 5px;
  }
.btn_valid:hover, .btn_valid:focus {
    background: rgb(192, 139, 48);
    box-shadow: inset -6px -6px 0px 0px rgb(143, 102, 44);
  }
  .btn_valid:active {
    box-shadow: inset 4px 4px 0px 0px rgb(143, 102, 44);
  }
  .btn_valid:before, .btn_valid:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

/*---------------------------------------------COMMENTAIRES-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#comment {
    color: rgb(255, 251, 251);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

.comment_paragraphe {
  color: white;
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

#author, textarea {
    width: 40%;
    height: 32px;
    resize: none;
    border: 2px none white;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

.btn_comment {
    margin: 10px 0 5px 0;
    background: rgb(202, 145, 64);
    text-align: center;
    position: relative;
    display: inline-flex;
    font-size: 0.8em;
    padding: 12px;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px rgb(143, 102, 44);
    border-radius: 5px;
  }
.btn_comment:hover, .btn_comment:focus {
    background: rgb(192, 139, 48);
    box-shadow: inset -6px -6px 0px 0px rgb(143, 102, 44);
  }
  .btn_comment:active {
    box-shadow: inset 4px 4px 0px 0px rgb(143, 102, 44);
  }
  .btn_comment:before, .btn_comment:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

/*---------------------------------------------CONTACT------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#contact_form {
    text-align: center;
}

#contact_form input {
    width: 400px;
    height: 32px;
    resize: none;
    border: 2px none white;
    border-radius: 5px;
    padding: 10px;
}

#contact_form textarea {
    width: 400px;
    resize: none;
    border: 2px none white;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

#btn_contact {
    background: rgb(202, 145, 64);
    text-align: center;
    position: relative;
    display: inline-flex;
    font-size: 0.8em;
    padding: 12px;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px rgb(143, 102, 44);
    border-radius: 5px;
  }
#btn_contact:hover, #btn_contact:focus {
    background: rgb(192, 139, 48);
    box-shadow: inset -6px -6px 0px 0px rgb(143, 102, 44);
  }
  #btn_contact:active {
    box-shadow: inset 4px 4px 0px 0px rgb(143, 102, 44);
  }
  #btn_contact:before, #btn_contact:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

/*---------------------------------------------ADMINISTRATION-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
.linkAdmin {
    font-size: 1.8em;
    font-style: italic;
    color: rgb(255, 250, 250);
    text-align: center;
}

#connexion {
    margin-top: 30px;
    text-align: center;
}

#connexion input {
    border: 2px none white;
    border-radius: 5px;
    padding: 10px;
}

#list_comment,
#list_post {
    color: rgb(255, 250, 250);
    font-family: 'Courier New', Courier, monospace;
}

.adminH2 {
    background: rgb(233, 231, 231);
    text-align: center;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    font-size: 0.85em;
    padding: 15px;
    text-decoration: none;
    color: rgb(41, 41, 40);
    box-shadow: inset -4px -4px 0px 0px rgb(34, 32, 32);
    margin: 40px 400px 0 400px;
    border-radius: 5px;
}

.adminParagraphe {
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(223, 219, 220);
}

.title {
    width: 250px;
    resize: none;
    border: 2px none white;
    padding: 3px;
    border-radius: 5px;
    color: black;
}

#full-featured {
    height: 500px;
    resize: none;
}

/*----------------------BUTTON SUPPRIMER-------------------*/
.btn_suppr {
    margin-top: 15px;
    background: rgb(44, 43, 42);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.9em;
    padding: 8px;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px rgb(34, 33, 32);
    border-radius: 5px;
  }
.btn_suppr:hover, .btn_suppr:focus {
    background: rgb(37, 37, 37);
    box-shadow: inset -6px -6px 0px 0px rgb(34, 33, 32);
  }
  .btn_suppr:active {
    box-shadow: inset 4px 4px 0px 0px rgb(34, 33, 32);
  }
  .btn_suppr:before, .btn_suppr:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

/*-----------------------BUTTON MODIFIED-------------------*/

  .admin_modif {
    margin-top: 15px;
    background: rgb(228, 227, 221);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    color: rgb(202, 145, 64);
    box-shadow: inset -4px -4px 0px 0px rgb(173, 173, 169);
    border-radius: 5px;
  }
.admin_modif:hover, .admin_modif:focus {
    background: rgb(197, 197, 195);
    box-shadow: inset -6px -6px 0px 0px rgb(173, 173, 169);
  }
  .admin_modif:active {
    box-shadow: inset 4px 4px 0px 0px rgb(173, 173, 169);
  }
  .admin_modif:before, .admin_modif:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
  .admin_modif:before {
    top: -6px;
    left: 0;
  }
  .admin_modif:after {
    left: -6px;
    top: 0;
  }

  /*-----------------------BUTTON SIGNAL-------------------*/
  .admin_signal {
    margin-top: 5px;
    margin-left: 10px;
    background: rgb(228, 227, 221);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    padding: 8px;
    text-decoration: none;
    color: rgb(145, 60, 26);
    box-shadow: inset -4px -4px 0px 0px rgb(173, 173, 169);
    border-radius: 5px;
  }

/*---------------------------------------------MODIFICATION-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#full-feat {
    height: 500px;
    resize: none;
}

/*---------------------------------------------ERROR PAGE---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#errorPage {
    background-color: #111111;
}

.board { 
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 500px;
  margin: 50px 0 0 -250px;
  padding: 20px;
  font: 75px/75px Monoton, cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}

#error { 
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}

/*---------------------------------------------FOOTER------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#paragraphe3 {
    background: rgb(250, 249, 249);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;   
}

#bio {
    width: 60%;
    margin: 60px 0 0 30px;
    color: rgb(36, 35, 35);
}

#jean_img {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin: 50px 15px 0 0;
}

/*----------------------------------------------RESPONSIVE--------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*------------------MAX-WIDTH 960PX-------------------------*/
/*-------------------------------------------*/

@media all and (max-width: 960px) {

/*-----------------------------------------------HEADER--------------------------------------------------*/
    .header_content h1 {
        font-size: 2em;
    }
    .header_content h2 {
        font-size: 1.4em;
    }

    #tabs a {
        font-size: 1em;
    }


/*-----------------------------------------------ACCUEIL------------------------------------------------*/
    #section_one p,
    #section_two p {
        font-size: 0.82em;
    }

    #presentation {
        margin: 0 0 0 30px;
    }

    #resum {
        margin: 20px 30px 0 0;
    }

    #dream_img {
        width: 220px;
        height: 220px;
        margin-top: 10px;
    }
    #moon_img {
        width: 220px;
        height: 220px;
    }
  
/*--------------------------------------------ADMINISTRATION--------------------------------------------------*/
    .adminH2 {
        font-size: 0.75em;
        padding: 12px;
        margin: 40px 200px 0 200px;
    }

/*-----------------------------------------------FOOTER-------------------------------------------*/
    #bio {
        font-size: 0.82em;
    }
    
    #jean_img {
        width: 220px;
        height: 220px;
        border: 6px solid rgb(20, 19, 19);
        margin: 110px 15px 0 0;
    }
}

/*------------------MAX-WIDTH 480PX-------------------------*/
/*-------------------------------------------*/

@media all and (max-width: 480px) {

/*-----------------------------------------------HEADER--------------------------------------------------*/
    .header_content h1 {
        font-size: 1.4em;
    }
    .header_content h2 {
        font-size: 0.8em;
        margin-left: calc(50% + 60px);
    }

    .header_content h1::before {
        width: 160px;
        left: calc(50% - 80px);
        margin-bottom: 4px;
    }

    .header_content h1::after {
        width: 160px;
        left: calc(50% - 80px);
    }

/*-----------------------------------------------MENU--------------------------------------------------*/

    #menu {
        justify-content: left;
    }

    #tabs li {
        display: block;
    }

    #tabs a {
        font-size: 0.85em;
        margin-left: -5px;
        padding: 0 0 2px 0;
    }

    #alaska {
        display: none;
    }

/*-----------------------------------------------ACCUEIL------------------------------------------------*/
    #section_one p,
    #section_two p {
        font-size: 0.82em;
        text-align: justify;
    }

    #presentation {
        margin: -40px 60px 0 60px;
    }

    #resum {
        margin: 10px 60px 0 60px;
    }

    #dream_img,
    #moon_img {
        display: none;
    }

    .separator {
        display: inline-block;
        width: 160px;
        left: calc(50% - 80px);
        margin-bottom: 35px;
    }

/*----------------------------------------------ARTICLES--------------------------------------------------*/

    #title_articles {
        font-size: 0.82em;
    }

    .news {
        font-size: 0.8em;
        width: 80%;
    }

    #content_news {
        padding: 0 10px 0 10px;
    }

    #link_chapter {
        font-size: 1em;
    }

/*--------------------------------------------COMMENTAIRES--------------------------------------------------*/    

    #author, textarea {
        width: 70%;
        margin: 0 40px 0 40px;
    }

    label {
        margin: 0 40px 0 40px;
    }
    
    textarea {
        height: 200px;
    }

    #title_comment {
        font-size: 1.1em;
    }

    .btn_comment {
        left: calc(50% - 72px);
        margin: 10px 0 5px 0;
        background: rgb(202, 145, 64);
        font-size: 0.7em;
        padding: 9px;
      }

/*----------------------------------------------CONTACT--------------------------------------------------*/

    #contact_form input {
        width: 200px;
    }
    
    #contact_form textarea {
        width: 200px;
        resize: none;
        margin: 0 30px 0 30px;
    }


/*--------------------------------------------ADMINISTRATION--------------------------------------------------*/
    .adminH2 {
        font-size: 0.8em;
        padding: 10px;
        margin: 40px 70px 10px 30px;
    }

    .adminParagraphe {
        font-size: 0.95em;
    }

    .btn_suppr {
        margin-top: 15px;
        font-size: 0.8em;
    }

    .btn_valid {
        left: 8px;
        font-size: 0.8em;
        padding: 8px;
    }

    .admin_modif {
        font-size: 0.8em;
        padding: 8px;
    }

/*-----------------------------------------------FOOTER-------------------------------------------*/
    #bio {
        font-weight: 600;
        font-size: 0.82em;
        text-align: justify;
        margin: 10px 60px 0 60px;
    }

    #jean_img {
        display: none;
    }


}