/*------------------------------------------------GLOBAL----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*-----LEGENDE DE COULEUR-----*/

/*black : #0d0d0ef1;*/
/*Green : #18A085;*/
/*White :  rgb(233, 231, 231);*/
/*Grey : rgba(175, 173, 173, 0.863);*/




* {
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

body {
    background: url('../images/alaska.jpg') no-repeat;
    background-color: #0d0d0ef1;
    background-size: 100%;
    position: relative;
}

h3 {
    background: rgb(233, 231, 231);
    text-align: center;
    font-size: 0.7em;
    padding: 12px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: rgb(29, 28, 28);
    box-shadow: inset -4px -4px 0px 0px rgb(34, 32, 32);  
    border-radius: 5px;
}

h2 {
    color: #18A085;
}

h4 {
    text-align: center;
    font-size: 2.0em;
    margin-top: -30px;
}

a {
    text-decoration: none;
    color: #18A085;
}

label {
    color: rgb(255, 250, 250);
}
.signature {
    color: #18A085;
    text-align: right;
}

/*---------------------------------------------HEADER------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#header_content h1 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: #ffff;
    text-transform: uppercase;
}

#header_content h1 a {
    color: #18A085;
}


#header_content h1::before
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(255, 255, 255, 0.863);
	left: calc(50% - 190px);
}
#header_content h1::after
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(234, 237, 241, 0.863);
    left: calc(50% - 190px);
    top: 10px;

}

#header_content h2 {
    margin-left: calc(50% + 120px);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: white;
}

/*---------------------------------------------MENU---------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#menu {
    display: flex;
    justify-content: flex-end;
}

#tabs {
    list-style-type: none;
}

#tabs li {
    margin-right: 10px;
    display: inline-block;
    font-size: 0.9em;
}

#tabs a {
    padding: 0 10px 2px 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(247, 242, 242);
}

#tabs a:hover {
    color: rgba(206, 199, 199, 0.986);
}


/*---------------------------------------------ACCUEIL------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/


/*-------------------------------SECTION--------------------------------*/

/*----------SECTION ONE-----------*/
#section_one {
    margin: 100px 0 220px 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;   
}

#presentation {
    width: 60%;
    margin: 60px 0 0 30px;
    color: rgb(255, 254, 254);
    font-weight: 600;
}

#dream_img {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin-right: 15px;
}

/*------------SECTION TWO-----------*/

#section_two {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;   
}

#resum {
    margin-top: 120px;
    width: 60%;
    margin: 110px 30px 0 0;
    color: rgb(255, 254, 254);
}

#moon_img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin: 150px 0 30px 15px;
}

/*--------------------------------------------CHAPITRES-----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#title_articles {
    color: rgb(255, 254, 254);
}
.news {
    width: 70%;
    margin: auto;
    background-color: rgb(255, 254, 254);
    border: 2px none white;
    border-radius: 5px;
}

#chapters_part {
    background-color: white;
}

#lirePlus {
    margin: 20px 0 7px 7px;
    background: #E76E55;
    text-align: center;
    position: relative;
    display: inline-flex;
    font-size: 0.6em;
    padding: 12px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #8C2022;
    border-radius: 5px;
  }
#lirePlus:hover, #lirePlus:focus {
    background: #CE372B;
    box-shadow: inset -6px -6px 0px 0px #8C2022;
  }
  #lirePlus:active {
    box-shadow: inset 4px 4px 0px 0px #8C2022;
  }
  #lirePlus:before, #lirePlus:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

/*---------------------------------------------COMMENTAIRES-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#comment {
    color: rgb(255, 251, 251);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

.comment_paragraphe {
  color: white;
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

#author, textarea {
    width: 40%;
    height: 32px;
    resize: none;
    border: 2px none white;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

.form_btn {
    margin-top: 15px;
    background: #E76E55;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.55em;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #8C2022;
    border-radius: 5px;
  }
.form_btn:hover, .form_btn:focus {
    background: #CE372B;
    box-shadow: inset -6px -6px 0px 0px #8C2022;
  }
  .form_btn:active {
    box-shadow: inset 4px 4px 0px 0px #8C2022;
  }
  .form_btn:before, .form_btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
  .form_btn:before {
    top: -6px;
    left: 0;
  }
  .form_btn:after {
    left: -6px;
    top: 0; 
  }

/*---------------------------------------------CONTACT------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#contact_form {
    text-align: center;
}

#contact_form input {
    width: 400px;
    height: 32px;
    resize: none;
    border: 2px none white;
    border-radius: 5px;
    padding: 10px;
}

#contact_form textarea {
    width: 400px;
    resize: none;
    border: 2px none white;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

/*---------------------------------------------ADMINISTRATION-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#list_comment,
#list_post {
    color: rgb(255, 250, 250);
    font-family: 'Courier New', Courier, monospace;
}

.adminH2 {
    background: rgb(233, 231, 231);
    text-align: center;
    font-size: 0.7em;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: rgb(29, 28, 28);
    box-shadow: inset -4px -4px 0px 0px rgb(34, 32, 32);
    margin: 0 400px 0 400px;
    border-radius: 5px;
}

.adminParagraphe {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(223, 219, 220);
}

#content, #resultat {
    width: 500px; 
    height: 200px; 
    background-color: white;
    border: 1px solid black; 
    padding: 5px; 
    overflow: auto;
}

#title {
    width: 350px;
}

#full-featured {
    height: 500px;
    resize: none;
}

/*----------------------BUTTON APPROUVE-------------------*/
.admin_approuve {
    margin-top: 15px;
    background: rgb(29, 180, 150);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.55em;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px rgb(19, 94, 79);
    border-radius: 5px;
  }
.admin_approuve:hover, .admin_approuve:focus {
    background: rgb(19, 133, 110);
    box-shadow: inset -6px -6px 0px 0px rgb(19, 94, 79);
  }
  .admin_approuve:active {
    box-shadow: inset 4px 4px 0px 0px rgb(19, 94, 79);
  }
  .admin_approuve:before, .admin_approuve:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
  .admin_approuve:before {
    top: -6px;
    left: 0;
  }
  .admin_approuve:after {
    left: -6px;
    top: 0;
  }

/*-----------------------BUTTON MODIFIED-------------------*/

  .admin_modif {
    margin-top: 15px;
    background: rgb(228, 227, 221);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.55em;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: rgb(175, 48, 48);
    box-shadow: inset -4px -4px 0px 0px rgb(173, 173, 169);
    border-radius: 5px;
  }
.admin_modif:hover, .admin_modif:focus {
    background: rgb(197, 197, 195);
    box-shadow: inset -6px -6px 0px 0px rgb(173, 173, 169);
  }
  .admin_modif:active {
    box-shadow: inset 4px 4px 0px 0px rgb(173, 173, 169);
  }
  .admin_modif:before, .admin_modif:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
  .admin_modif:before {
    top: -6px;
    left: 0;
  }
  .admin_modif:after {
    left: -6px;
    top: 0;
  }

  /*-----------------------BUTTON SIGNAL-------------------*/
  .admin_signal {
    margin-top: 5px;
    margin-left: 10px;
    background: rgb(228, 227, 221);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.55em;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: rgb(29, 180, 150);
    box-shadow: inset -4px -4px 0px 0px rgb(173, 173, 169);
    border-radius: 5px;
  }



/*---------------------------------------------ERROR PAGE---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#errorPage {
    background-color: #111111;
}

.board { 
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 500px;
  margin: 50px 0 0 -250px;
  padding: 20px;
  font: 75px/75px Monoton, cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}

#error { 
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}

/*---------------------------------------------FOOTER------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

#contact_form {
    text-align: center;
}

#contact_form input {
    width: 400px;
    height: 34px;
}

#contact_form textarea {
    width: 400px;
    color: black;
}
#footer {
    background: rgb(250, 249, 249);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;   
}

#bio {
    width: 60%;
    margin: 60px 0 0 30px;
    color: rgb(36, 35, 35);
    font-weight: 600;
}

#jean_img {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(255, 254, 254);
    margin: 50px 15px 0 0;
}